@import url('../Geral/Geral.css');

body {
    button#Btn_Voltar {
        top: 10px;
        left: 10px;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &.Active {
            display: flex;
        }
    }

    div.Divs_Opcs {
        display: none;

        &.Active {
            display: flex;
        }
    }

    div#Container_Opcs_Inicio {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        gap: 24px;

        h1 {
            margin-bottom: 40px;

            span {
                color: var(--Verde);

                &:first-child {
                    color: var(--Vermelho);
                }
            }
        }

        button {
            border-radius: 4px;
            border: 1px solid var(--Preto);
            padding: 15px 20px;
            background-color: transparent;
            width: 95%;
            max-width: 200px;
            cursor: pointer;

            &:hover {
                transition: 0.2s scale ease-in-out;
                scale: 1.05;
            }
        }
    }

    div#Container_Entrar_Em_Sala {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        gap: 24px;

        input {
            margin-bottom: 30px;
        }

        div#Container_Salas_Criadas {
            max-width: 400px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            div.Salas {
                padding: 15px 20px;
                border-radius: 4px;
                border: 1px solid black;
                width: 95%;
                cursor: pointer;

                &:hover {
                    transition: 0.2s scale ease-in-out;
                    scale: 1.05;
                }
            }
        }

        button#Btn_Atualizar_Salas {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            border-radius: 4px;
            border: 1px solid var(--Preto);
            padding: 15px 20px;
            background-color: transparent;
            width: 95%;
            max-width: 380px;
            cursor: pointer;

            &.Bloqueado {
                cursor: not-allowed;
                color: #898989;
                border: 1px solid #898989;
            }
        }
    }

    div#Container_Criar_Sala {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        gap: 24px;

        div {
            width: 100%;
            max-width: 380px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;

            input {
                cursor: pointer;
            }
        }

        button {
            border-radius: 4px;
            border: 1px solid var(--Preto);
            padding: 15px 20px;
            background-color: transparent;
            width: 95%;
            max-width: 380px;
            cursor: pointer;

            &:hover {
                transition: 0.2s scale ease-in-out;
                scale: 1.05;
            }
        }
    }

    div#Container_Esperando {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        gap: 24px;

        span#Codigo_Da_Sala {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
        }
    }

    div#Container_Jogo_Da_Veia {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        min-height: 100vh;
        gap: 24px;
        width: 95%;
        max-width: 400px;

        div#Container_Placar_Jogo_Da_Veia {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.7em;

            div {
                display: flex;
                gap: 10px;

                &#Container_Placar_X {
                    p {
                        color: var(--Verde);
                    }
                }

                p {
                    color: var(--Vermelho);
                }
            }
        }

        div#Container_Resultado_Partida {
            width: 100%;
            max-width: 150px;
            height: 118px;
            position: relative;

            p#P_Sua_Vez_Aviso {
                width: 191px;
                display: block;
                text-align: center;
                font-size: 1.5em;
                position: absolute;
            }

            img {
                // width: 100%;
                scale: 1 / 1;
                object-fit: contain;
                display: none;
                 
                &.Active {
                    display: block;
                }
            }
        }

        div#Container_Estrutura_Jogo_Da_Veia {
            display: grid;
            grid-template-columns: repeat(3, 133px);
            grid-template-rows: repeat(3, 133px);
            gap: 5px;

            &.Fim {
                cursor: not-allowed;

                .celula {
                    cursor: not-allowed;
                }
            }

            .celula {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 133px;
                height: 133px;
                font-size: 4em;
                font-weight: bold;
                background-color: transparent;
                border: 1px solid #333;
                cursor: pointer;
            }

            .celula.marcado {
                cursor: not-allowed;
                color: #333;
            }
        }

        div#Container_Btns_Jogar_Novamente {

            p {
                display: none;
                
            }

            button {
                display: none;
                border-radius: 4px;
                border: 1px solid var(--Preto);
                padding: 15px 20px;
                background-color: transparent;
                width: 95%;
                max-width: 380px;
                cursor: pointer;

                &:hover {
                    transition: 0.2s scale ease-in-out;
                    scale: 1.05;
                }
            }
        }
    }
}